.codeCell-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.d-flex{
    display: flex;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-left:5px solid #cf2b0f;
    border-bottom: 5px solid #057735;
    border-right: 5px solid #ced10a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.loader-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}