.btn{
    border-radius: 10%;
    font-size: 1rem;
    padding: 5px;
    outline: none;
    border: none;
    margin: 1px;
    font-weight: bold;
    opacity:0.5;
    transition: 0.3s all ease-in;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}

.code-btn{
    color: white;
    background-color: #2276d6;
    margin-right: 15px;
}

.text-btn{
    color: white;
    background-color: #e78b3a;
}
.addCell-container{
    display: flex;
    justify-content: center;
    background-color: rgb(85, 83, 83);
}
.addCell-container:not(:first-of-type){
    margin-top: 10px;
}
.markdown-container+.addCell-container{
    margin-top: 0 !important;
}